<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/MasterSS.css" rel="stylesheet" />
    <link href="~/Styles/LoginStyle.css" rel="stylesheet" />
</head>
<body class="master2body">
    @if (HttpContext.Current.Session["User"] != null)
    {
  @*  <h1 style="font-family:'Times New Roman';font-weight:bold;font-size:50px;color:black">AirPort Management System</h1>
      *@
    <div style="width:100%">
        <ul class="ul">
            <li>
            <li>
                @*   @Html.ActionLink("Home", "AdminHome", "AMS")*@
                <p style="color:antiquewhite; font-family: Gabriola;font-weight:bold;margin-left:10px;">
                    Airport Management System
                </p>
            </li>
            <li style="float:right">
                @Html.ActionLink("Logout", "LogOut", "AMS")
            </li>
            <li style="float:right">
                @Html.ActionLink("Hanger Status", "GetHangerDetails", "AMS")
            </li>
            <li style="float:right">
                @Html.ActionLink("Plane Allocation", "AllotingPlane", "AMS")
            </li>

            <li style="float:right">
                @Html.ActionLink("New Hanger", "AddHanger", "AMS")
            </li>
            <li style="float:right">
                @Html.ActionLink("New Plane", "AddPlane", "AMS")
            </li>
            <li style="float:right">
                @Html.ActionLink("New Pilot", "AddPilot", "AMS")
            </li>

        </ul>
        
            <h3 style="float:right;font-family:Gabriola;font-size:30px;font-weight:bold;color:blue">  Welcome @HttpContext.Current.Session["User"].ToString()</h3>
    </div>
    <div class="renderbody">
        @RenderBody()
    </div>
    }
    else
    {
        Response.Redirect("/AMS/Index");
    }
</body>
</html>
